<div th:replace="~{fragments/navbar :: header-nav}"></div>
<section class="detail-section">
    <div class="hero">
        <h1 class="cyber-title">AUTOMATION (CI/CD)</h1>
    </div>
    <div class="tool-card">
        <h2>⚙️ Jenkins & Ansible</h2>
        <p><strong>Outil :</strong> Jenkins (Orchestrateur) et Ansible (Configuration).</p>
        <p><strong>Pourquoi ?</strong> Supprimer les tâches manuelles répétitives et les erreurs humaines lors des déploiements.</p>
        <p><strong>Mise en place :</strong> Création d'un Jenkinsfile qui définit les étapes : Test > Build > Scan > Deploy.</p>
        <p><strong>Retour Expert :</strong> L'automatisation n'est pas une option, c'est une nécessité pour la haute disponibilité.</p>
    </div>
</section>
