<div th:replace="~{fragments/navbar :: header-nav}"></div>
<section class="detail-section">
    <div class="hero">
        <h1 class="cyber-title">MANAGEMENT SI</h1>
    </div>
    <div class="tool-card">
        <h2>👔 Agilité & Gouvernance</h2>
        <p><strong>Méthode :</strong> Scrum / Kanban.</p>
        <p><strong>Pourquoi ?</strong> Aligner les besoins métiers (le client) avec les livraisons techniques (les experts).</p>
        <p><strong>Outil :</strong> Jira ou Trello pour le backlog.</p>
    </div>
</section>
